@page "/"
@using Volo.Abp.MultiTenancy
@inherits HealthCareComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

@* <div class="row mb-3">
    <div class="col-12 d-flex">
        <div class="card h-lg-100 w-100 overflow-hidden">
            <div class="card-body">
                <h1>Hoþgeldiniz</h1>
                @CurrentUser.Name @CurrentUser.SurName
            </div>
        </div>
    </div>
    
</div> *@

<div class="center-container">
    <div class="card">
        <div class="card-body">
            <h1> Hoþgeldiniz</h1>
            <h2>@CurrentUser.Name @CurrentUser.SurName</h2>
        </div>
    </div>
</div>
