@page "/medical/medical-card/{ProtocolNo:int}/examination"
@using Pusula.Training.HealthCare.Blazor.Themes.Layouts
@using Pusula.Training.HealthCare.Permissions
@using Pusula.Training.HealthCare.Blazor.Components.Examinations

@attribute [Authorize(Roles = HealthCareRoles.Doctor)]

@layout MedicalCardLayout
@inherits HealthCareComponentBase

<div class="d-flex gap-1">
    <div class="d-flex w-50 gap-2 flex-column">
        <PatientHistory></PatientHistory>

        <FamilyHistory></FamilyHistory>

        <PsychologicalStatus></PsychologicalStatus>

        <FallRisk></FallRisk>

        <Pain></Pain>

        <PatientNotes></PatientNotes>
    </div>
</div>
