@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
<HcCard Title="Soygeçmiş" CardIcon="far fa-user">
    <HeaderContent>
        <SfButton IsToggle CssClass="e-outline rounded-pill e-primary e-small">Özellik Yok</SfButton>
    </HeaderContent>
    <ChildContent>
        <div class="p-2">
            <table class="family-history-table">
                <tbody>
                <tr>
                    <th>Anne</th>
                    <td class="active">Diyabet</td>
                    <td class="active">Guatr</td>
                    <td>Hipertansiyon</td>
                    <td>Kan Hastalığı</td>
                    <td>Koroner arter hastalığı (KAH)</td>
                    <td>Malignite</td>
                    <td>
                        <SfTextBox Placeholder="Diğer" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    </td>
                </tr>
                <tr>
                    <th>Baba</th>
                    <td>Diyabet</td>
                    <td>Guatr</td>
                    <td>Hipertansiyon</td>
                    <td>Kan Hastalığı</td>
                    <td>Koroner arter hastalığı (KAH)</td>
                    <td>Malignite</td>
                    <td>
                        <SfTextBox Placeholder="Diğer" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    </td>
                </tr>
                <tr>
                    <th>Erkek Kardeş</th>
                    <td>Diyabet</td>
                    <td>Guatr</td>
                    <td>Hipertansiyon</td>
                    <td>Kan Hastalığı</td>
                    <td>Koroner arter hastalığı (KAH)</td>
                    <td>Malignite</td>
                    <td>
                        <SfTextBox Placeholder="Diğer" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    </td>
                </tr>
                <tr>
                    <th>Kız Kardeş</th>
                    <td>Diyabet</td>
                    <td>Guatr</td>
                    <td>Hipertansiyon</td>
                    <td>Kan Hastalığı</td>
                    <td>Koroner arter hastalığı (KAH)</td>
                    <td>Malignite</td>
                    <td>
                        <SfTextBox Placeholder="Diğer" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    </td>
                </tr>
                <tr>
                    <th>Diğer</th>
                    <td>Diyabet</td>
                    <td>Guatr</td>
                    <td>Hipertansiyon</td>
                    <td>Kan Hastalığı</td>
                    <td>Koroner arter hastalığı (KAH)</td>
                    <td>Malignite</td>
                    <td>
                        <SfTextBox Placeholder="Diğer" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    </td>
                </tr>
                </tbody>
            </table>
            <SfCheckBox TChecked="bool">Anne ile baba akraba</SfCheckBox>
        </div>
    </ChildContent>
</HcCard>