.fs-1p,
.fs-1p * {
    font-size: 1px !important;
}

.fs-2p,
.fs-2p * {
    font-size: 2px !important;
}

.fs-3p,
.fs-3p * {
    font-size: 3px !important;
}

.fs-4p,
.fs-4p * {
    font-size: 4px !important;
}

.fs-5p,
.fs-5p * {
    font-size: 5px !important;
}

.fs-6p,
.fs-6p * {
    font-size: 6px !important;
}

.fs-7p,
.fs-7p * {
    font-size: 7px !important;
}

.fs-8p,
.fs-8p * {
    font-size: 8px !important;
}

.fs-9p,
.fs-9p * {
    font-size: 9px !important;
}

.fs-10p,
.fs-10p * {
    font-size: 10px !important;
}

.fs-11p,
.fs-11p * {
    font-size: 11px !important;
}

.fs-12p,
.fs-12p * {
    font-size: 12px !important;
}

.fs-13p,
.fs-13p * {
    font-size: 13px !important;
}

.fs-14p,
.fs-14p * {
    font-size: 14px !important;
}

.fs-15p,
.fs-15p * {
    font-size: 15px !important;
}

.fs-16p,
.fs-16p * {
    font-size: 16px !important;
}

.fs-17p,
.fs-17p * {
    font-size: 17px !important;
}

.fs-18p,
.fs-18p * {
    font-size: 18px !important;
}

.fs-19p,
.fs-19p * {
    font-size: 19px !important;
}

.fs-20p,
.fs-20p * {
    font-size: 20px !important;
}

.fs-21p,
.fs-21p * {
    font-size: 21px !important;
}

.fs-22p,
.fs-22p * {
    font-size: 22px !important;
}

.fs-23p,
.fs-23p * {
    font-size: 23px !important;
}

.fs-24p,
.fs-24p * {
    font-size: 24px !important;
}

.fs-25p,
.fs-25p * {
    font-size: 25px !important;
}

.fs-26p,
.fs-26p * {
    font-size: 26px !important;
}

.fs-27p,
.fs-27p * {
    font-size: 27px !important;
}

.fs-28p,
.fs-28p * {
    font-size: 28px !important;
}

.fs-29p,
.fs-29p * {
    font-size: 29px !important;
}

.fs-30p,
.fs-30p * {
    font-size: 30px !important;
}

.fs-31p,
.fs-31p * {
    font-size: 31px !important;
}

.fs-32p,
.fs-32p * {
    font-size: 32px !important;
}

.fs-33p,
.fs-33p * {
    font-size: 33px !important;
}

.fs-34p,
.fs-34p * {
    font-size: 34px !important;
}

.fs-35p,
.fs-35p * {
    font-size: 35px !important;
}

.fs-36p,
.fs-36p * {
    font-size: 36px !important;
}

.fs-37p,
.fs-37p * {
    font-size: 37px !important;
}

.fs-38p,
.fs-38p * {
    font-size: 38px !important;
}

.fs-39p,
.fs-39p * {
    font-size: 39px !important;
}

.fs-40p,
.fs-40p * {
    font-size: 40px !important;
}

.fs-41p,
.fs-41p * {
    font-size: 41px !important;
}

.fs-42p,
.fs-42p * {
    font-size: 42px !important;
}

.fs-43p,
.fs-43p * {
    font-size: 43px !important;
}

.fs-44p,
.fs-44p * {
    font-size: 44px !important;
}

.fs-45p,
.fs-45p * {
    font-size: 45px !important;
}

.fs-46p,
.fs-46p * {
    font-size: 46px !important;
}

.fs-47p,
.fs-47p * {
    font-size: 47px !important;
}

.fs-48p,
.fs-48p * {
    font-size: 48px !important;
}

.fs-49p,
.fs-49p * {
    font-size: 49px !important;
}

.fs-50p,
.fs-50p * {
    font-size: 50px !important;
}

.fs-51p,
.fs-51p * {
    font-size: 51px !important;
}

.fs-52p,
.fs-52p * {
    font-size: 52px !important;
}

.fs-53p,
.fs-53p * {
    font-size: 53px !important;
}

.fs-54p,
.fs-54p * {
    font-size: 54px !important;
}

.fs-55p,
.fs-55p * {
    font-size: 55px !important;
}

.fs-56p,
.fs-56p * {
    font-size: 56px !important;
}

.fs-57p,
.fs-57p * {
    font-size: 57px !important;
}

.fs-58p,
.fs-58p * {
    font-size: 58px !important;
}

.fs-59p,
.fs-59p * {
    font-size: 59px !important;
}

.fs-60p,
.fs-60p * {
    font-size: 60px !important;
}

.fs-61p,
.fs-61p * {
    font-size: 61px !important;
}

.fs-62p,
.fs-62p * {
    font-size: 62px !important;
}

.fs-63p,
.fs-63p * {
    font-size: 63px !important;
}

.fs-64p,
.fs-64p * {
    font-size: 64px !important;
}

.fs-65p,
.fs-65p * {
    font-size: 65px !important;
}

.fs-66p,
.fs-66p * {
    font-size: 66px !important;
}

.fs-67p,
.fs-67p * {
    font-size: 67px !important;
}

.fs-68p,
.fs-68p * {
    font-size: 68px !important;
}

.fs-69p,
.fs-69p * {
    font-size: 69px !important;
}

.fs-70p,
.fs-70p * {
    font-size: 70px !important;
}

.fs-71p,
.fs-71p * {
    font-size: 71px !important;
}

.fs-72p,
.fs-72p * {
    font-size: 72px !important;
}

.fs-73p,
.fs-73p * {
    font-size: 73px !important;
}

.fs-74p,
.fs-74p * {
    font-size: 74px !important;
}

.fs-75p,
.fs-75p * {
    font-size: 75px !important;
}

.fs-76p,
.fs-76p * {
    font-size: 76px !important;
}

.fs-77p,
.fs-77p * {
    font-size: 77px !important;
}

.fs-78p,
.fs-78p * {
    font-size: 78px !important;
}

.fs-79p,
.fs-79p * {
    font-size: 79px !important;
}

.fs-80p,
.fs-80p * {
    font-size: 80px !important;
}

.fs-81p,
.fs-81p * {
    font-size: 81px !important;
}

.fs-82p,
.fs-82p * {
    font-size: 82px !important;
}

.fs-83p,
.fs-83p * {
    font-size: 83px !important;
}

.fs-84p,
.fs-84p * {
    font-size: 84px !important;
}

.fs-85p,
.fs-85p * {
    font-size: 85px !important;
}

.fs-86p,
.fs-86p * {
    font-size: 86px !important;
}

.fs-87p,
.fs-87p * {
    font-size: 87px !important;
}

.fs-88p,
.fs-88p * {
    font-size: 88px !important;
}

.fs-89p,
.fs-89p * {
    font-size: 89px !important;
}

.fs-90p,
.fs-90p * {
    font-size: 90px !important;
}

.fs-91p,
.fs-91p * {
    font-size: 91px !important;
}

.fs-92p,
.fs-92p * {
    font-size: 92px !important;
}

.fs-93p,
.fs-93p * {
    font-size: 93px !important;
}

.fs-94p,
.fs-94p * {
    font-size: 94px !important;
}

.fs-95p,
.fs-95p * {
    font-size: 95px !important;
}

.fs-96p,
.fs-96p * {
    font-size: 96px !important;
}

.fs-97p,
.fs-97p * {
    font-size: 97px !important;
}

.fs-98p,
.fs-98p * {
    font-size: 98px !important;
}

.fs-99p,
.fs-99p * {
    font-size: 99px !important;
}

.fs-100p,
.fs-100p * {
    font-size: 100px !important;
}

.fs-0-2r,
.fs-0-2r * {
    font-size: 0.2rem !important;
}

.fs-0-4r,
.fs-0-4r * {
    font-size: 0.4rem !important;
}

.fs-0-6r,
.fs-0-6r * {
    font-size: 0.6rem !important;
}

.fs-0-8r,
.fs-0-8r * {
    font-size: 0.8rem !important;
}

.fs-1r,
.fs-1r * {
    font-size: 1rem !important;
}

.fs-1-2r,
.fs-1-2r * {
    font-size: 1.2rem !important;
}

.fs-1-4r,
.fs-1-4r * {
    font-size: 1.4rem !important;
}

.fs-1-6r,
.fs-1-6r * {
    font-size: 1.6rem !important;
}

.fs-1-8r,
.fs-1-8r * {
    font-size: 1.8rem !important;
}

.fs-2r,
.fs-2r * {
    font-size: 2rem !important;
}

.fs-2-2r,
.fs-2-2r * {
    font-size: 2.2rem !important;
}

.fs-2-4r,
.fs-2-4r * {
    font-size: 2.4rem !important;
}

.fs-2-6r,
.fs-2-6r * {
    font-size: 2.6rem !important;
}

.fs-2-8r,
.fs-2-8r * {
    font-size: 2.8rem !important;
}

.fs-3r,
.fs-3r * {
    font-size: 3rem !important;
}

.fs-3-2r,
.fs-3-2r * {
    font-size: 3.2rem !important;
}

.fs-3-4r,
.fs-3-4r * {
    font-size: 3.4rem !important;
}

.fs-3-6r,
.fs-3-6r * {
    font-size: 3.6rem !important;
}

.fs-3-8r,
.fs-3-8r * {
    font-size: 3.8rem !important;
}

.fs-4r,
.fs-4r * {
    font-size: 4rem !important;
}

.fs-4-2r,
.fs-4-2r * {
    font-size: 4.2rem !important;
}

.fs-4-4r,
.fs-4-4r * {
    font-size: 4.4rem !important;
}

.fs-4-6r,
.fs-4-6r * {
    font-size: 4.6rem !important;
}

.fs-4-8r,
.fs-4-8r * {
    font-size: 4.8rem !important;
}

.fs-5r,
.fs-5r * {
    font-size: 5rem !important;
}

.fs-5-2r,
.fs-5-2r * {
    font-size: 5.2rem !important;
}

.fs-5-4r,
.fs-5-4r * {
    font-size: 5.4rem !important;
}

.fs-5-6r,
.fs-5-6r * {
    font-size: 5.6rem !important;
}

.fs-5-8r,
.fs-5-8r * {
    font-size: 5.8rem !important;
}

.fs-6r,
.fs-6r * {
    font-size: 6rem !important;
}

.fs-6-2r,
.fs-6-2r * {
    font-size: 6.2rem !important;
}

.fs-6-4r,
.fs-6-4r * {
    font-size: 6.4rem !important;
}

.fs-6-6r,
.fs-6-6r * {
    font-size: 6.6rem !important;
}

.fs-6-8r,
.fs-6-8r * {
    font-size: 6.8rem !important;
}

.fs-7r,
.fs-7r * {
    font-size: 7rem !important;
}

.fs-7-2r,
.fs-7-2r * {
    font-size: 7.2rem !important;
}

.fs-7-4r,
.fs-7-4r * {
    font-size: 7.4rem !important;
}

.fs-7-6r,
.fs-7-6r * {
    font-size: 7.6rem !important;
}

.fs-7-8r,
.fs-7-8r * {
    font-size: 7.8rem !important;
}

.fs-8r,
.fs-8r * {
    font-size: 8rem !important;
}

.fs-8-2r,
.fs-8-2r * {
    font-size: 8.2rem !important;
}

.fs-8-4r,
.fs-8-4r * {
    font-size: 8.4rem !important;
}

.fs-8-6r,
.fs-8-6r * {
    font-size: 8.6rem !important;
}

.fs-8-8r,
.fs-8-8r * {
    font-size: 8.8rem !important;
}

.fs-9r,
.fs-9r * {
    font-size: 9rem !important;
}

.fs-9-2r,
.fs-9-2r * {
    font-size: 9.2rem !important;
}

.fs-9-4r,
.fs-9-4r * {
    font-size: 9.4rem !important;
}

.fs-9-6r,
.fs-9-6r * {
    font-size: 9.6rem !important;
}

.fs-9-8r,
.fs-9-8r * {
    font-size: 9.8rem !important;
}

.fs-10r,
.fs-10r * {
    font-size: 10rem !important;
}

.fw-100,
.fw-100 * {
    font-weight: 100 !important;
}

.fw-200,
.fw-200 * {
    font-weight: 200 !important;
}

.fw-300,
.fw-300 * {
    font-weight: 300 !important;
}

.fw-400,
.fw-400 * {
    font-weight: 400 !important;
}

.fw-500,
.fw-500 * {
    font-weight: 500 !important;
}

.fw-600,
.fw-600 * {
    font-weight: 600 !important;
}

.fw-700,
.fw-700 * {
    font-weight: 700 !important;
}

.fw-800,
.fw-800 * {
    font-weight: 800 !important;
}

.fw-900,
.fw-900 * {
    font-weight: 900 !important;
}