.m-2p {
    margin: 2px !important;
}

.ml-2p {
    margin-left: 2px !important;
}

.mr-2p {
    margin-right: 2px !important;
}

.mt-2p {
    margin-top: 2px !important;
}

.mb-2p {
    margin-bottom: 2px !important;
}

.m-4p {
    margin: 4px !important;
}

.ml-4p {
    margin-left: 4px !important;
}

.mr-4p {
    margin-right: 4px !important;
}

.mt-4p {
    margin-top: 4px !important;
}

.mb-4p {
    margin-bottom: 4px !important;
}

.m-6p {
    margin: 6px !important;
}

.ml-6p {
    margin-left: 6px !important;
}

.mr-6p {
    margin-right: 6px !important;
}

.mt-6p {
    margin-top: 6px !important;
}

.mb-6p {
    margin-bottom: 6px !important;
}

.m-8p {
    margin: 8px !important;
}

.ml-8p {
    margin-left: 8px !important;
}

.mr-8p {
    margin-right: 8px !important;
}

.mt-8p {
    margin-top: 8px !important;
}

.mb-8p {
    margin-bottom: 8px !important;
}

.m-10p {
    margin: 10px !important;
}

.ml-10p {
    margin-left: 10px !important;
}

.mr-10p {
    margin-right: 10px !important;
}

.mt-10p {
    margin-top: 10px !important;
}

.mb-10p {
    margin-bottom: 10px !important;
}

.m-12p {
    margin: 12px !important;
}

.ml-12p {
    margin-left: 12px !important;
}

.mr-12p {
    margin-right: 12px !important;
}

.mt-12p {
    margin-top: 12px !important;
}

.mb-12p {
    margin-bottom: 12px !important;
}

.m-14p {
    margin: 14px !important;
}

.ml-14p {
    margin-left: 14px !important;
}

.mr-14p {
    margin-right: 14px !important;
}

.mt-14p {
    margin-top: 14px !important;
}

.mb-14p {
    margin-bottom: 14px !important;
}

.m-16p {
    margin: 16px !important;
}

.ml-16p {
    margin-left: 16px !important;
}

.mr-16p {
    margin-right: 16px !important;
}

.mt-16p {
    margin-top: 16px !important;
}

.mb-16p {
    margin-bottom: 16px !important;
}

.m-18p {
    margin: 18px !important;
}

.ml-18p {
    margin-left: 18px !important;
}

.mr-18p {
    margin-right: 18px !important;
}

.mt-18p {
    margin-top: 18px !important;
}

.mb-18p {
    margin-bottom: 18px !important;
}

.m-20p {
    margin: 20px !important;
}

.ml-20p {
    margin-left: 20px !important;
}

.mr-20p {
    margin-right: 20px !important;
}

.mt-20p {
    margin-top: 20px !important;
}

.mb-20p {
    margin-bottom: 20px !important;
}

.m-22p {
    margin: 22px !important;
}

.ml-22p {
    margin-left: 22px !important;
}

.mr-22p {
    margin-right: 22px !important;
}

.mt-22p {
    margin-top: 22px !important;
}

.mb-22p {
    margin-bottom: 22px !important;
}

.m-24p {
    margin: 24px !important;
}

.ml-24p {
    margin-left: 24px !important;
}

.mr-24p {
    margin-right: 24px !important;
}

.mt-24p {
    margin-top: 24px !important;
}

.mb-24p {
    margin-bottom: 24px !important;
}

.m-26p {
    margin: 26px !important;
}

.ml-26p {
    margin-left: 26px !important;
}

.mr-26p {
    margin-right: 26px !important;
}

.mt-26p {
    margin-top: 26px !important;
}

.mb-26p {
    margin-bottom: 26px !important;
}

.m-28p {
    margin: 28px !important;
}

.ml-28p {
    margin-left: 28px !important;
}

.mr-28p {
    margin-right: 28px !important;
}

.mt-28p {
    margin-top: 28px !important;
}

.mb-28p {
    margin-bottom: 28px !important;
}

.m-30p {
    margin: 30px !important;
}

.ml-30p {
    margin-left: 30px !important;
}

.mr-30p {
    margin-right: 30px !important;
}

.mt-30p {
    margin-top: 30px !important;
}

.mb-30p {
    margin-bottom: 30px !important;
}

.m-32p {
    margin: 32px !important;
}

.ml-32p {
    margin-left: 32px !important;
}

.mr-32p {
    margin-right: 32px !important;
}

.mt-32p {
    margin-top: 32px !important;
}

.mb-32p {
    margin-bottom: 32px !important;
}

.m-34p {
    margin: 34px !important;
}

.ml-34p {
    margin-left: 34px !important;
}

.mr-34p {
    margin-right: 34px !important;
}

.mt-34p {
    margin-top: 34px !important;
}

.mb-34p {
    margin-bottom: 34px !important;
}

.m-36p {
    margin: 36px !important;
}

.ml-36p {
    margin-left: 36px !important;
}

.mr-36p {
    margin-right: 36px !important;
}

.mt-36p {
    margin-top: 36px !important;
}

.mb-36p {
    margin-bottom: 36px !important;
}

.m-38p {
    margin: 38px !important;
}

.ml-38p {
    margin-left: 38px !important;
}

.mr-38p {
    margin-right: 38px !important;
}

.mt-38p {
    margin-top: 38px !important;
}

.mb-38p {
    margin-bottom: 38px !important;
}

.m-40p {
    margin: 40px !important;
}

.ml-40p {
    margin-left: 40px !important;
}

.mr-40p {
    margin-right: 40px !important;
}

.mt-40p {
    margin-top: 40px !important;
}

.mb-40p {
    margin-bottom: 40px !important;
}

.m-42p {
    margin: 42px !important;
}

.ml-42p {
    margin-left: 42px !important;
}

.mr-42p {
    margin-right: 42px !important;
}

.mt-42p {
    margin-top: 42px !important;
}

.mb-42p {
    margin-bottom: 42px !important;
}

.m-44p {
    margin: 44px !important;
}

.ml-44p {
    margin-left: 44px !important;
}

.mr-44p {
    margin-right: 44px !important;
}

.mt-44p {
    margin-top: 44px !important;
}

.mb-44p {
    margin-bottom: 44px !important;
}

.m-46p {
    margin: 46px !important;
}

.ml-46p {
    margin-left: 46px !important;
}

.mr-46p {
    margin-right: 46px !important;
}

.mt-46p {
    margin-top: 46px !important;
}

.mb-46p {
    margin-bottom: 46px !important;
}

.m-48p {
    margin: 48px !important;
}

.ml-48p {
    margin-left: 48px !important;
}

.mr-48p {
    margin-right: 48px !important;
}

.mt-48p {
    margin-top: 48px !important;
}

.mb-48p {
    margin-bottom: 48px !important;
}

.m-50p {
    margin: 50px !important;
}

.ml-50p {
    margin-left: 50px !important;
}

.mr-50p {
    margin-right: 50px !important;
}

.mt-50p {
    margin-top: 50px !important;
}

.mb-50p {
    margin-bottom: 50px !important;
}

.m-52p {
    margin: 52px !important;
}

.ml-52p {
    margin-left: 52px !important;
}

.mr-52p {
    margin-right: 52px !important;
}

.mt-52p {
    margin-top: 52px !important;
}

.mb-52p {
    margin-bottom: 52px !important;
}

.m-54p {
    margin: 54px !important;
}

.ml-54p {
    margin-left: 54px !important;
}

.mr-54p {
    margin-right: 54px !important;
}

.mt-54p {
    margin-top: 54px !important;
}

.mb-54p {
    margin-bottom: 54px !important;
}

.m-56p {
    margin: 56px !important;
}

.ml-56p {
    margin-left: 56px !important;
}

.mr-56p {
    margin-right: 56px !important;
}

.mt-56p {
    margin-top: 56px !important;
}

.mb-56p {
    margin-bottom: 56px !important;
}

.m-58p {
    margin: 58px !important;
}

.ml-58p {
    margin-left: 58px !important;
}

.mr-58p {
    margin-right: 58px !important;
}

.mt-58p {
    margin-top: 58px !important;
}

.mb-58p {
    margin-bottom: 58px !important;
}

.m-60p {
    margin: 60px !important;
}

.ml-60p {
    margin-left: 60px !important;
}

.mr-60p {
    margin-right: 60px !important;
}

.mt-60p {
    margin-top: 60px !important;
}

.mb-60p {
    margin-bottom: 60px !important;
}

.m-62p {
    margin: 62px !important;
}

.ml-62p {
    margin-left: 62px !important;
}

.mr-62p {
    margin-right: 62px !important;
}

.mt-62p {
    margin-top: 62px !important;
}

.mb-62p {
    margin-bottom: 62px !important;
}

.m-64p {
    margin: 64px !important;
}

.ml-64p {
    margin-left: 64px !important;
}

.mr-64p {
    margin-right: 64px !important;
}

.mt-64p {
    margin-top: 64px !important;
}

.mb-64p {
    margin-bottom: 64px !important;
}

.m-66p {
    margin: 66px !important;
}

.ml-66p {
    margin-left: 66px !important;
}

.mr-66p {
    margin-right: 66px !important;
}

.mt-66p {
    margin-top: 66px !important;
}

.mb-66p {
    margin-bottom: 66px !important;
}

.m-68p {
    margin: 68px !important;
}

.ml-68p {
    margin-left: 68px !important;
}

.mr-68p {
    margin-right: 68px !important;
}

.mt-68p {
    margin-top: 68px !important;
}

.mb-68p {
    margin-bottom: 68px !important;
}

.m-70p {
    margin: 70px !important;
}

.ml-70p {
    margin-left: 70px !important;
}

.mr-70p {
    margin-right: 70px !important;
}

.mt-70p {
    margin-top: 70px !important;
}

.mb-70p {
    margin-bottom: 70px !important;
}

.m-72p {
    margin: 72px !important;
}

.ml-72p {
    margin-left: 72px !important;
}

.mr-72p {
    margin-right: 72px !important;
}

.mt-72p {
    margin-top: 72px !important;
}

.mb-72p {
    margin-bottom: 72px !important;
}

.m-74p {
    margin: 74px !important;
}

.ml-74p {
    margin-left: 74px !important;
}

.mr-74p {
    margin-right: 74px !important;
}

.mt-74p {
    margin-top: 74px !important;
}

.mb-74p {
    margin-bottom: 74px !important;
}

.m-76p {
    margin: 76px !important;
}

.ml-76p {
    margin-left: 76px !important;
}

.mr-76p {
    margin-right: 76px !important;
}

.mt-76p {
    margin-top: 76px !important;
}

.mb-76p {
    margin-bottom: 76px !important;
}

.m-78p {
    margin: 78px !important;
}

.ml-78p {
    margin-left: 78px !important;
}

.mr-78p {
    margin-right: 78px !important;
}

.mt-78p {
    margin-top: 78px !important;
}

.mb-78p {
    margin-bottom: 78px !important;
}

.m-80p {
    margin: 80px !important;
}

.ml-80p {
    margin-left: 80px !important;
}

.mr-80p {
    margin-right: 80px !important;
}

.mt-80p {
    margin-top: 80px !important;
}

.mb-80p {
    margin-bottom: 80px !important;
}

.m-82p {
    margin: 82px !important;
}

.ml-82p {
    margin-left: 82px !important;
}

.mr-82p {
    margin-right: 82px !important;
}

.mt-82p {
    margin-top: 82px !important;
}

.mb-82p {
    margin-bottom: 82px !important;
}

.m-84p {
    margin: 84px !important;
}

.ml-84p {
    margin-left: 84px !important;
}

.mr-84p {
    margin-right: 84px !important;
}

.mt-84p {
    margin-top: 84px !important;
}

.mb-84p {
    margin-bottom: 84px !important;
}

.m-86p {
    margin: 86px !important;
}

.ml-86p {
    margin-left: 86px !important;
}

.mr-86p {
    margin-right: 86px !important;
}

.mt-86p {
    margin-top: 86px !important;
}

.mb-86p {
    margin-bottom: 86px !important;
}

.m-88p {
    margin: 88px !important;
}

.ml-88p {
    margin-left: 88px !important;
}

.mr-88p {
    margin-right: 88px !important;
}

.mt-88p {
    margin-top: 88px !important;
}

.mb-88p {
    margin-bottom: 88px !important;
}

.m-90p {
    margin: 90px !important;
}

.ml-90p {
    margin-left: 90px !important;
}

.mr-90p {
    margin-right: 90px !important;
}

.mt-90p {
    margin-top: 90px !important;
}

.mb-90p {
    margin-bottom: 90px !important;
}

.m-92p {
    margin: 92px !important;
}

.ml-92p {
    margin-left: 92px !important;
}

.mr-92p {
    margin-right: 92px !important;
}

.mt-92p {
    margin-top: 92px !important;
}

.mb-92p {
    margin-bottom: 92px !important;
}

.m-94p {
    margin: 94px !important;
}

.ml-94p {
    margin-left: 94px !important;
}

.mr-94p {
    margin-right: 94px !important;
}

.mt-94p {
    margin-top: 94px !important;
}

.mb-94p {
    margin-bottom: 94px !important;
}

.m-96p {
    margin: 96px !important;
}

.ml-96p {
    margin-left: 96px !important;
}

.mr-96p {
    margin-right: 96px !important;
}

.mt-96p {
    margin-top: 96px !important;
}

.mb-96p {
    margin-bottom: 96px !important;
}

.m-98p {
    margin: 98px !important;
}

.ml-98p {
    margin-left: 98px !important;
}

.mr-98p {
    margin-right: 98px !important;
}

.mt-98p {
    margin-top: 98px !important;
}

.mb-98p {
    margin-bottom: 98px !important;
}

.m-100p {
    margin: 100px !important;
}

.ml-100p {
    margin-left: 100px !important;
}

.mr-100p {
    margin-right: 100px !important;
}

.mt-100p {
    margin-top: 100px !important;
}

.mb-100p {
    margin-bottom: 100px !important;
}

.m-0-2r {
    margin: 0.2rem !important;
}

.ml-0-2r {
    margin-left: 0.2rem !important;
}

.mr-0-2r {
    margin-right: 0.2rem !important;
}

.mt-0-2r {
    margin-top: 0.2rem !important;
}

.mb-0-2r {
    margin-bottom: 0.2rem !important;
}

.m-0-4r {
    margin: 0.4rem !important;
}

.ml-0-4r {
    margin-left: 0.4rem !important;
}

.mr-0-4r {
    margin-right: 0.4rem !important;
}

.mt-0-4r {
    margin-top: 0.4rem !important;
}

.mb-0-4r {
    margin-bottom: 0.4rem !important;
}

.m-0-6r {
    margin: 0.6rem !important;
}

.ml-0-6r {
    margin-left: 0.6rem !important;
}

.mr-0-6r {
    margin-right: 0.6rem !important;
}

.mt-0-6r {
    margin-top: 0.6rem !important;
}

.mb-0-6r {
    margin-bottom: 0.6rem !important;
}

.m-0-8r {
    margin: 0.8rem !important;
}

.ml-0-8r {
    margin-left: 0.8rem !important;
}

.mr-0-8r {
    margin-right: 0.8rem !important;
}

.mt-0-8r {
    margin-top: 0.8rem !important;
}

.mb-0-8r {
    margin-bottom: 0.8rem !important;
}

.m-1r {
    margin: 1rem !important;
}

.ml-1r {
    margin-left: 1rem !important;
}

.mr-1r {
    margin-right: 1rem !important;
}

.mt-1r {
    margin-top: 1rem !important;
}

.mb-1r {
    margin-bottom: 1rem !important;
}

.m-1-2r {
    margin: 1.2rem !important;
}

.ml-1-2r {
    margin-left: 1.2rem !important;
}

.mr-1-2r {
    margin-right: 1.2rem !important;
}

.mt-1-2r {
    margin-top: 1.2rem !important;
}

.mb-1-2r {
    margin-bottom: 1.2rem !important;
}

.m-1-4r {
    margin: 1.4rem !important;
}

.ml-1-4r {
    margin-left: 1.4rem !important;
}

.mr-1-4r {
    margin-right: 1.4rem !important;
}

.mt-1-4r {
    margin-top: 1.4rem !important;
}

.mb-1-4r {
    margin-bottom: 1.4rem !important;
}

.m-1-6r {
    margin: 1.6rem !important;
}

.ml-1-6r {
    margin-left: 1.6rem !important;
}

.mr-1-6r {
    margin-right: 1.6rem !important;
}

.mt-1-6r {
    margin-top: 1.6rem !important;
}

.mb-1-6r {
    margin-bottom: 1.6rem !important;
}

.m-1-8r {
    margin: 1.8rem !important;
}

.ml-1-8r {
    margin-left: 1.8rem !important;
}

.mr-1-8r {
    margin-right: 1.8rem !important;
}

.mt-1-8r {
    margin-top: 1.8rem !important;
}

.mb-1-8r {
    margin-bottom: 1.8rem !important;
}

.m-2r {
    margin: 2rem !important;
}

.ml-2r {
    margin-left: 2rem !important;
}

.mr-2r {
    margin-right: 2rem !important;
}

.mt-2r {
    margin-top: 2rem !important;
}

.mb-2r {
    margin-bottom: 2rem !important;
}

.m-2-2r {
    margin: 2.2rem !important;
}

.ml-2-2r {
    margin-left: 2.2rem !important;
}

.mr-2-2r {
    margin-right: 2.2rem !important;
}

.mt-2-2r {
    margin-top: 2.2rem !important;
}

.mb-2-2r {
    margin-bottom: 2.2rem !important;
}

.m-2-4r {
    margin: 2.4rem !important;
}

.ml-2-4r {
    margin-left: 2.4rem !important;
}

.mr-2-4r {
    margin-right: 2.4rem !important;
}

.mt-2-4r {
    margin-top: 2.4rem !important;
}

.mb-2-4r {
    margin-bottom: 2.4rem !important;
}

.m-2-6r {
    margin: 2.6rem !important;
}

.ml-2-6r {
    margin-left: 2.6rem !important;
}

.mr-2-6r {
    margin-right: 2.6rem !important;
}

.mt-2-6r {
    margin-top: 2.6rem !important;
}

.mb-2-6r {
    margin-bottom: 2.6rem !important;
}

.m-2-8r {
    margin: 2.8rem !important;
}

.ml-2-8r {
    margin-left: 2.8rem !important;
}

.mr-2-8r {
    margin-right: 2.8rem !important;
}

.mt-2-8r {
    margin-top: 2.8rem !important;
}

.mb-2-8r {
    margin-bottom: 2.8rem !important;
}

.m-3r {
    margin: 3rem !important;
}

.ml-3r {
    margin-left: 3rem !important;
}

.mr-3r {
    margin-right: 3rem !important;
}

.mt-3r {
    margin-top: 3rem !important;
}

.mb-3r {
    margin-bottom: 3rem !important;
}

.m-3-2r {
    margin: 3.2rem !important;
}

.ml-3-2r {
    margin-left: 3.2rem !important;
}

.mr-3-2r {
    margin-right: 3.2rem !important;
}

.mt-3-2r {
    margin-top: 3.2rem !important;
}

.mb-3-2r {
    margin-bottom: 3.2rem !important;
}

.m-3-4r {
    margin: 3.4rem !important;
}

.ml-3-4r {
    margin-left: 3.4rem !important;
}

.mr-3-4r {
    margin-right: 3.4rem !important;
}

.mt-3-4r {
    margin-top: 3.4rem !important;
}

.mb-3-4r {
    margin-bottom: 3.4rem !important;
}

.m-3-6r {
    margin: 3.6rem !important;
}

.ml-3-6r {
    margin-left: 3.6rem !important;
}

.mr-3-6r {
    margin-right: 3.6rem !important;
}

.mt-3-6r {
    margin-top: 3.6rem !important;
}

.mb-3-6r {
    margin-bottom: 3.6rem !important;
}

.m-3-8r {
    margin: 3.8rem !important;
}

.ml-3-8r {
    margin-left: 3.8rem !important;
}

.mr-3-8r {
    margin-right: 3.8rem !important;
}

.mt-3-8r {
    margin-top: 3.8rem !important;
}

.mb-3-8r {
    margin-bottom: 3.8rem !important;
}

.m-4r {
    margin: 4rem !important;
}

.ml-4r {
    margin-left: 4rem !important;
}

.mr-4r {
    margin-right: 4rem !important;
}

.mt-4r {
    margin-top: 4rem !important;
}

.mb-4r {
    margin-bottom: 4rem !important;
}

.m-4-2r {
    margin: 4.2rem !important;
}

.ml-4-2r {
    margin-left: 4.2rem !important;
}

.mr-4-2r {
    margin-right: 4.2rem !important;
}

.mt-4-2r {
    margin-top: 4.2rem !important;
}

.mb-4-2r {
    margin-bottom: 4.2rem !important;
}

.m-4-4r {
    margin: 4.4rem !important;
}

.ml-4-4r {
    margin-left: 4.4rem !important;
}

.mr-4-4r {
    margin-right: 4.4rem !important;
}

.mt-4-4r {
    margin-top: 4.4rem !important;
}

.mb-4-4r {
    margin-bottom: 4.4rem !important;
}

.m-4-6r {
    margin: 4.6rem !important;
}

.ml-4-6r {
    margin-left: 4.6rem !important;
}

.mr-4-6r {
    margin-right: 4.6rem !important;
}

.mt-4-6r {
    margin-top: 4.6rem !important;
}

.mb-4-6r {
    margin-bottom: 4.6rem !important;
}

.m-4-8r {
    margin: 4.8rem !important;
}

.ml-4-8r {
    margin-left: 4.8rem !important;
}

.mr-4-8r {
    margin-right: 4.8rem !important;
}

.mt-4-8r {
    margin-top: 4.8rem !important;
}

.mb-4-8r {
    margin-bottom: 4.8rem !important;
}

.m-5r {
    margin: 5rem !important;
}

.ml-5r {
    margin-left: 5rem !important;
}

.mr-5r {
    margin-right: 5rem !important;
}

.mt-5r {
    margin-top: 5rem !important;
}

.mb-5r {
    margin-bottom: 5rem !important;
}

.m-5-2r {
    margin: 5.2rem !important;
}

.ml-5-2r {
    margin-left: 5.2rem !important;
}

.mr-5-2r {
    margin-right: 5.2rem !important;
}

.mt-5-2r {
    margin-top: 5.2rem !important;
}

.mb-5-2r {
    margin-bottom: 5.2rem !important;
}

.m-5-4r {
    margin: 5.4rem !important;
}

.ml-5-4r {
    margin-left: 5.4rem !important;
}

.mr-5-4r {
    margin-right: 5.4rem !important;
}

.mt-5-4r {
    margin-top: 5.4rem !important;
}

.mb-5-4r {
    margin-bottom: 5.4rem !important;
}

.m-5-6r {
    margin: 5.6rem !important;
}

.ml-5-6r {
    margin-left: 5.6rem !important;
}

.mr-5-6r {
    margin-right: 5.6rem !important;
}

.mt-5-6r {
    margin-top: 5.6rem !important;
}

.mb-5-6r {
    margin-bottom: 5.6rem !important;
}

.m-5-8r {
    margin: 5.8rem !important;
}

.ml-5-8r {
    margin-left: 5.8rem !important;
}

.mr-5-8r {
    margin-right: 5.8rem !important;
}

.mt-5-8r {
    margin-top: 5.8rem !important;
}

.mb-5-8r {
    margin-bottom: 5.8rem !important;
}

.m-6r {
    margin: 6rem !important;
}

.ml-6r {
    margin-left: 6rem !important;
}

.mr-6r {
    margin-right: 6rem !important;
}

.mt-6r {
    margin-top: 6rem !important;
}

.mb-6r {
    margin-bottom: 6rem !important;
}

.m-6-2r {
    margin: 6.2rem !important;
}

.ml-6-2r {
    margin-left: 6.2rem !important;
}

.mr-6-2r {
    margin-right: 6.2rem !important;
}

.mt-6-2r {
    margin-top: 6.2rem !important;
}

.mb-6-2r {
    margin-bottom: 6.2rem !important;
}

.m-6-4r {
    margin: 6.4rem !important;
}

.ml-6-4r {
    margin-left: 6.4rem !important;
}

.mr-6-4r {
    margin-right: 6.4rem !important;
}

.mt-6-4r {
    margin-top: 6.4rem !important;
}

.mb-6-4r {
    margin-bottom: 6.4rem !important;
}

.m-6-6r {
    margin: 6.6rem !important;
}

.ml-6-6r {
    margin-left: 6.6rem !important;
}

.mr-6-6r {
    margin-right: 6.6rem !important;
}

.mt-6-6r {
    margin-top: 6.6rem !important;
}

.mb-6-6r {
    margin-bottom: 6.6rem !important;
}

.m-6-8r {
    margin: 6.8rem !important;
}

.ml-6-8r {
    margin-left: 6.8rem !important;
}

.mr-6-8r {
    margin-right: 6.8rem !important;
}

.mt-6-8r {
    margin-top: 6.8rem !important;
}

.mb-6-8r {
    margin-bottom: 6.8rem !important;
}

.m-7r {
    margin: 7rem !important;
}

.ml-7r {
    margin-left: 7rem !important;
}

.mr-7r {
    margin-right: 7rem !important;
}

.mt-7r {
    margin-top: 7rem !important;
}

.mb-7r {
    margin-bottom: 7rem !important;
}

.m-7-2r {
    margin: 7.2rem !important;
}

.ml-7-2r {
    margin-left: 7.2rem !important;
}

.mr-7-2r {
    margin-right: 7.2rem !important;
}

.mt-7-2r {
    margin-top: 7.2rem !important;
}

.mb-7-2r {
    margin-bottom: 7.2rem !important;
}

.m-7-4r {
    margin: 7.4rem !important;
}

.ml-7-4r {
    margin-left: 7.4rem !important;
}

.mr-7-4r {
    margin-right: 7.4rem !important;
}

.mt-7-4r {
    margin-top: 7.4rem !important;
}

.mb-7-4r {
    margin-bottom: 7.4rem !important;
}

.m-7-6r {
    margin: 7.6rem !important;
}

.ml-7-6r {
    margin-left: 7.6rem !important;
}

.mr-7-6r {
    margin-right: 7.6rem !important;
}

.mt-7-6r {
    margin-top: 7.6rem !important;
}

.mb-7-6r {
    margin-bottom: 7.6rem !important;
}

.m-7-8r {
    margin: 7.8rem !important;
}

.ml-7-8r {
    margin-left: 7.8rem !important;
}

.mr-7-8r {
    margin-right: 7.8rem !important;
}

.mt-7-8r {
    margin-top: 7.8rem !important;
}

.mb-7-8r {
    margin-bottom: 7.8rem !important;
}

.m-8r {
    margin: 8rem !important;
}

.ml-8r {
    margin-left: 8rem !important;
}

.mr-8r {
    margin-right: 8rem !important;
}

.mt-8r {
    margin-top: 8rem !important;
}

.mb-8r {
    margin-bottom: 8rem !important;
}

.m-8-2r {
    margin: 8.2rem !important;
}

.ml-8-2r {
    margin-left: 8.2rem !important;
}

.mr-8-2r {
    margin-right: 8.2rem !important;
}

.mt-8-2r {
    margin-top: 8.2rem !important;
}

.mb-8-2r {
    margin-bottom: 8.2rem !important;
}

.m-8-4r {
    margin: 8.4rem !important;
}

.ml-8-4r {
    margin-left: 8.4rem !important;
}

.mr-8-4r {
    margin-right: 8.4rem !important;
}

.mt-8-4r {
    margin-top: 8.4rem !important;
}

.mb-8-4r {
    margin-bottom: 8.4rem !important;
}

.m-8-6r {
    margin: 8.6rem !important;
}

.ml-8-6r {
    margin-left: 8.6rem !important;
}

.mr-8-6r {
    margin-right: 8.6rem !important;
}

.mt-8-6r {
    margin-top: 8.6rem !important;
}

.mb-8-6r {
    margin-bottom: 8.6rem !important;
}

.m-8-8r {
    margin: 8.8rem !important;
}

.ml-8-8r {
    margin-left: 8.8rem !important;
}

.mr-8-8r {
    margin-right: 8.8rem !important;
}

.mt-8-8r {
    margin-top: 8.8rem !important;
}

.mb-8-8r {
    margin-bottom: 8.8rem !important;
}

.m-9r {
    margin: 9rem !important;
}

.ml-9r {
    margin-left: 9rem !important;
}

.mr-9r {
    margin-right: 9rem !important;
}

.mt-9r {
    margin-top: 9rem !important;
}

.mb-9r {
    margin-bottom: 9rem !important;
}

.m-9-2r {
    margin: 9.2rem !important;
}

.ml-9-2r {
    margin-left: 9.2rem !important;
}

.mr-9-2r {
    margin-right: 9.2rem !important;
}

.mt-9-2r {
    margin-top: 9.2rem !important;
}

.mb-9-2r {
    margin-bottom: 9.2rem !important;
}

.m-9-4r {
    margin: 9.4rem !important;
}

.ml-9-4r {
    margin-left: 9.4rem !important;
}

.mr-9-4r {
    margin-right: 9.4rem !important;
}

.mt-9-4r {
    margin-top: 9.4rem !important;
}

.mb-9-4r {
    margin-bottom: 9.4rem !important;
}

.m-9-6r {
    margin: 9.6rem !important;
}

.ml-9-6r {
    margin-left: 9.6rem !important;
}

.mr-9-6r {
    margin-right: 9.6rem !important;
}

.mt-9-6r {
    margin-top: 9.6rem !important;
}

.mb-9-6r {
    margin-bottom: 9.6rem !important;
}

.m-9-8r {
    margin: 9.8rem !important;
}

.ml-9-8r {
    margin-left: 9.8rem !important;
}

.mr-9-8r {
    margin-right: 9.8rem !important;
}

.mt-9-8r {
    margin-top: 9.8rem !important;
}

.mb-9-8r {
    margin-bottom: 9.8rem !important;
}

.m-10r {
    margin: 10rem !important;
}

.ml-10r {
    margin-left: 10rem !important;
}

.mr-10r {
    margin-right: 10rem !important;
}

.mt-10r {
    margin-top: 10rem !important;
}

.mb-10r {
    margin-bottom: 10rem !important;
}