.p-2p {
    padding: 2px !important;
}

.pl-2p {
    padding-left: 2px !important;
}

.pr-2p {
    padding-right: 2px !important;
}

.pt-2p {
    padding-top: 2px !important;
}

.pb-2p {
    padding-bottom: 2px !important;
}

.p-4p {
    padding: 4px !important;
}

.pl-4p {
    padding-left: 4px !important;
}

.pr-4p {
    padding-right: 4px !important;
}

.pt-4p {
    padding-top: 4px !important;
}

.pb-4p {
    padding-bottom: 4px !important;
}

.p-6p {
    padding: 6px !important;
}

.pl-6p {
    padding-left: 6px !important;
}

.pr-6p {
    padding-right: 6px !important;
}

.pt-6p {
    padding-top: 6px !important;
}

.pb-6p {
    padding-bottom: 6px !important;
}

.p-8p {
    padding: 8px !important;
}

.pl-8p {
    padding-left: 8px !important;
}

.pr-8p {
    padding-right: 8px !important;
}

.pt-8p {
    padding-top: 8px !important;
}

.pb-8p {
    padding-bottom: 8px !important;
}

.p-10p {
    padding: 10px !important;
}

.pl-10p {
    padding-left: 10px !important;
}

.pr-10p {
    padding-right: 10px !important;
}

.pt-10p {
    padding-top: 10px !important;
}

.pb-10p {
    padding-bottom: 10px !important;
}

.p-12p {
    padding: 12px !important;
}

.pl-12p {
    padding-left: 12px !important;
}

.pr-12p {
    padding-right: 12px !important;
}

.pt-12p {
    padding-top: 12px !important;
}

.pb-12p {
    padding-bottom: 12px !important;
}

.p-14p {
    padding: 14px !important;
}

.pl-14p {
    padding-left: 14px !important;
}

.pr-14p {
    padding-right: 14px !important;
}

.pt-14p {
    padding-top: 14px !important;
}

.pb-14p {
    padding-bottom: 14px !important;
}

.p-16p {
    padding: 16px !important;
}

.pl-16p {
    padding-left: 16px !important;
}

.pr-16p {
    padding-right: 16px !important;
}

.pt-16p {
    padding-top: 16px !important;
}

.pb-16p {
    padding-bottom: 16px !important;
}

.p-18p {
    padding: 18px !important;
}

.pl-18p {
    padding-left: 18px !important;
}

.pr-18p {
    padding-right: 18px !important;
}

.pt-18p {
    padding-top: 18px !important;
}

.pb-18p {
    padding-bottom: 18px !important;
}

.p-20p {
    padding: 20px !important;
}

.pl-20p {
    padding-left: 20px !important;
}

.pr-20p {
    padding-right: 20px !important;
}

.pt-20p {
    padding-top: 20px !important;
}

.pb-20p {
    padding-bottom: 20px !important;
}

.p-22p {
    padding: 22px !important;
}

.pl-22p {
    padding-left: 22px !important;
}

.pr-22p {
    padding-right: 22px !important;
}

.pt-22p {
    padding-top: 22px !important;
}

.pb-22p {
    padding-bottom: 22px !important;
}

.p-24p {
    padding: 24px !important;
}

.pl-24p {
    padding-left: 24px !important;
}

.pr-24p {
    padding-right: 24px !important;
}

.pt-24p {
    padding-top: 24px !important;
}

.pb-24p {
    padding-bottom: 24px !important;
}

.p-26p {
    padding: 26px !important;
}

.pl-26p {
    padding-left: 26px !important;
}

.pr-26p {
    padding-right: 26px !important;
}

.pt-26p {
    padding-top: 26px !important;
}

.pb-26p {
    padding-bottom: 26px !important;
}

.p-28p {
    padding: 28px !important;
}

.pl-28p {
    padding-left: 28px !important;
}

.pr-28p {
    padding-right: 28px !important;
}

.pt-28p {
    padding-top: 28px !important;
}

.pb-28p {
    padding-bottom: 28px !important;
}

.p-30p {
    padding: 30px !important;
}

.pl-30p {
    padding-left: 30px !important;
}

.pr-30p {
    padding-right: 30px !important;
}

.pt-30p {
    padding-top: 30px !important;
}

.pb-30p {
    padding-bottom: 30px !important;
}

.p-32p {
    padding: 32px !important;
}

.pl-32p {
    padding-left: 32px !important;
}

.pr-32p {
    padding-right: 32px !important;
}

.pt-32p {
    padding-top: 32px !important;
}

.pb-32p {
    padding-bottom: 32px !important;
}

.p-34p {
    padding: 34px !important;
}

.pl-34p {
    padding-left: 34px !important;
}

.pr-34p {
    padding-right: 34px !important;
}

.pt-34p {
    padding-top: 34px !important;
}

.pb-34p {
    padding-bottom: 34px !important;
}

.p-36p {
    padding: 36px !important;
}

.pl-36p {
    padding-left: 36px !important;
}

.pr-36p {
    padding-right: 36px !important;
}

.pt-36p {
    padding-top: 36px !important;
}

.pb-36p {
    padding-bottom: 36px !important;
}

.p-38p {
    padding: 38px !important;
}

.pl-38p {
    padding-left: 38px !important;
}

.pr-38p {
    padding-right: 38px !important;
}

.pt-38p {
    padding-top: 38px !important;
}

.pb-38p {
    padding-bottom: 38px !important;
}

.p-40p {
    padding: 40px !important;
}

.pl-40p {
    padding-left: 40px !important;
}

.pr-40p {
    padding-right: 40px !important;
}

.pt-40p {
    padding-top: 40px !important;
}

.pb-40p {
    padding-bottom: 40px !important;
}

.p-42p {
    padding: 42px !important;
}

.pl-42p {
    padding-left: 42px !important;
}

.pr-42p {
    padding-right: 42px !important;
}

.pt-42p {
    padding-top: 42px !important;
}

.pb-42p {
    padding-bottom: 42px !important;
}

.p-44p {
    padding: 44px !important;
}

.pl-44p {
    padding-left: 44px !important;
}

.pr-44p {
    padding-right: 44px !important;
}

.pt-44p {
    padding-top: 44px !important;
}

.pb-44p {
    padding-bottom: 44px !important;
}

.p-46p {
    padding: 46px !important;
}

.pl-46p {
    padding-left: 46px !important;
}

.pr-46p {
    padding-right: 46px !important;
}

.pt-46p {
    padding-top: 46px !important;
}

.pb-46p {
    padding-bottom: 46px !important;
}

.p-48p {
    padding: 48px !important;
}

.pl-48p {
    padding-left: 48px !important;
}

.pr-48p {
    padding-right: 48px !important;
}

.pt-48p {
    padding-top: 48px !important;
}

.pb-48p {
    padding-bottom: 48px !important;
}

.p-50p {
    padding: 50px !important;
}

.pl-50p {
    padding-left: 50px !important;
}

.pr-50p {
    padding-right: 50px !important;
}

.pt-50p {
    padding-top: 50px !important;
}

.pb-50p {
    padding-bottom: 50px !important;
}

.p-52p {
    padding: 52px !important;
}

.pl-52p {
    padding-left: 52px !important;
}

.pr-52p {
    padding-right: 52px !important;
}

.pt-52p {
    padding-top: 52px !important;
}

.pb-52p {
    padding-bottom: 52px !important;
}

.p-54p {
    padding: 54px !important;
}

.pl-54p {
    padding-left: 54px !important;
}

.pr-54p {
    padding-right: 54px !important;
}

.pt-54p {
    padding-top: 54px !important;
}

.pb-54p {
    padding-bottom: 54px !important;
}

.p-56p {
    padding: 56px !important;
}

.pl-56p {
    padding-left: 56px !important;
}

.pr-56p {
    padding-right: 56px !important;
}

.pt-56p {
    padding-top: 56px !important;
}

.pb-56p {
    padding-bottom: 56px !important;
}

.p-58p {
    padding: 58px !important;
}

.pl-58p {
    padding-left: 58px !important;
}

.pr-58p {
    padding-right: 58px !important;
}

.pt-58p {
    padding-top: 58px !important;
}

.pb-58p {
    padding-bottom: 58px !important;
}

.p-60p {
    padding: 60px !important;
}

.pl-60p {
    padding-left: 60px !important;
}

.pr-60p {
    padding-right: 60px !important;
}

.pt-60p {
    padding-top: 60px !important;
}

.pb-60p {
    padding-bottom: 60px !important;
}

.p-62p {
    padding: 62px !important;
}

.pl-62p {
    padding-left: 62px !important;
}

.pr-62p {
    padding-right: 62px !important;
}

.pt-62p {
    padding-top: 62px !important;
}

.pb-62p {
    padding-bottom: 62px !important;
}

.p-64p {
    padding: 64px !important;
}

.pl-64p {
    padding-left: 64px !important;
}

.pr-64p {
    padding-right: 64px !important;
}

.pt-64p {
    padding-top: 64px !important;
}

.pb-64p {
    padding-bottom: 64px !important;
}

.p-66p {
    padding: 66px !important;
}

.pl-66p {
    padding-left: 66px !important;
}

.pr-66p {
    padding-right: 66px !important;
}

.pt-66p {
    padding-top: 66px !important;
}

.pb-66p {
    padding-bottom: 66px !important;
}

.p-68p {
    padding: 68px !important;
}

.pl-68p {
    padding-left: 68px !important;
}

.pr-68p {
    padding-right: 68px !important;
}

.pt-68p {
    padding-top: 68px !important;
}

.pb-68p {
    padding-bottom: 68px !important;
}

.p-70p {
    padding: 70px !important;
}

.pl-70p {
    padding-left: 70px !important;
}

.pr-70p {
    padding-right: 70px !important;
}

.pt-70p {
    padding-top: 70px !important;
}

.pb-70p {
    padding-bottom: 70px !important;
}

.p-72p {
    padding: 72px !important;
}

.pl-72p {
    padding-left: 72px !important;
}

.pr-72p {
    padding-right: 72px !important;
}

.pt-72p {
    padding-top: 72px !important;
}

.pb-72p {
    padding-bottom: 72px !important;
}

.p-74p {
    padding: 74px !important;
}

.pl-74p {
    padding-left: 74px !important;
}

.pr-74p {
    padding-right: 74px !important;
}

.pt-74p {
    padding-top: 74px !important;
}

.pb-74p {
    padding-bottom: 74px !important;
}

.p-76p {
    padding: 76px !important;
}

.pl-76p {
    padding-left: 76px !important;
}

.pr-76p {
    padding-right: 76px !important;
}

.pt-76p {
    padding-top: 76px !important;
}

.pb-76p {
    padding-bottom: 76px !important;
}

.p-78p {
    padding: 78px !important;
}

.pl-78p {
    padding-left: 78px !important;
}

.pr-78p {
    padding-right: 78px !important;
}

.pt-78p {
    padding-top: 78px !important;
}

.pb-78p {
    padding-bottom: 78px !important;
}

.p-80p {
    padding: 80px !important;
}

.pl-80p {
    padding-left: 80px !important;
}

.pr-80p {
    padding-right: 80px !important;
}

.pt-80p {
    padding-top: 80px !important;
}

.pb-80p {
    padding-bottom: 80px !important;
}

.p-82p {
    padding: 82px !important;
}

.pl-82p {
    padding-left: 82px !important;
}

.pr-82p {
    padding-right: 82px !important;
}

.pt-82p {
    padding-top: 82px !important;
}

.pb-82p {
    padding-bottom: 82px !important;
}

.p-84p {
    padding: 84px !important;
}

.pl-84p {
    padding-left: 84px !important;
}

.pr-84p {
    padding-right: 84px !important;
}

.pt-84p {
    padding-top: 84px !important;
}

.pb-84p {
    padding-bottom: 84px !important;
}

.p-86p {
    padding: 86px !important;
}

.pl-86p {
    padding-left: 86px !important;
}

.pr-86p {
    padding-right: 86px !important;
}

.pt-86p {
    padding-top: 86px !important;
}

.pb-86p {
    padding-bottom: 86px !important;
}

.p-88p {
    padding: 88px !important;
}

.pl-88p {
    padding-left: 88px !important;
}

.pr-88p {
    padding-right: 88px !important;
}

.pt-88p {
    padding-top: 88px !important;
}

.pb-88p {
    padding-bottom: 88px !important;
}

.p-90p {
    padding: 90px !important;
}

.pl-90p {
    padding-left: 90px !important;
}

.pr-90p {
    padding-right: 90px !important;
}

.pt-90p {
    padding-top: 90px !important;
}

.pb-90p {
    padding-bottom: 90px !important;
}

.p-92p {
    padding: 92px !important;
}

.pl-92p {
    padding-left: 92px !important;
}

.pr-92p {
    padding-right: 92px !important;
}

.pt-92p {
    padding-top: 92px !important;
}

.pb-92p {
    padding-bottom: 92px !important;
}

.p-94p {
    padding: 94px !important;
}

.pl-94p {
    padding-left: 94px !important;
}

.pr-94p {
    padding-right: 94px !important;
}

.pt-94p {
    padding-top: 94px !important;
}

.pb-94p {
    padding-bottom: 94px !important;
}

.p-96p {
    padding: 96px !important;
}

.pl-96p {
    padding-left: 96px !important;
}

.pr-96p {
    padding-right: 96px !important;
}

.pt-96p {
    padding-top: 96px !important;
}

.pb-96p {
    padding-bottom: 96px !important;
}

.p-98p {
    padding: 98px !important;
}

.pl-98p {
    padding-left: 98px !important;
}

.pr-98p {
    padding-right: 98px !important;
}

.pt-98p {
    padding-top: 98px !important;
}

.pb-98p {
    padding-bottom: 98px !important;
}

.p-100p {
    padding: 100px !important;
}

.pl-100p {
    padding-left: 100px !important;
}

.pr-100p {
    padding-right: 100px !important;
}

.pt-100p {
    padding-top: 100px !important;
}

.pb-100p {
    padding-bottom: 100px !important;
}

.p-0-2r {
    padding: 0.2rem !important;
}

.pl-0-2r {
    padding-left: 0.2rem !important;
}

.pr-0-2r {
    padding-right: 0.2rem !important;
}

.pt-0-2r {
    padding-top: 0.2rem !important;
}

.pb-0-2r {
    padding-bottom: 0.2rem !important;
}

.p-0-4r {
    padding: 0.4rem !important;
}

.pl-0-4r {
    padding-left: 0.4rem !important;
}

.pr-0-4r {
    padding-right: 0.4rem !important;
}

.pt-0-4r {
    padding-top: 0.4rem !important;
}

.pb-0-4r {
    padding-bottom: 0.4rem !important;
}

.p-0-6r {
    padding: 0.6rem !important;
}

.pl-0-6r {
    padding-left: 0.6rem !important;
}

.pr-0-6r {
    padding-right: 0.6rem !important;
}

.pt-0-6r {
    padding-top: 0.6rem !important;
}

.pb-0-6r {
    padding-bottom: 0.6rem !important;
}

.p-0-8r {
    padding: 0.8rem !important;
}

.pl-0-8r {
    padding-left: 0.8rem !important;
}

.pr-0-8r {
    padding-right: 0.8rem !important;
}

.pt-0-8r {
    padding-top: 0.8rem !important;
}

.pb-0-8r {
    padding-bottom: 0.8rem !important;
}

.p-1r {
    padding: 1rem !important;
}

.pl-1r {
    padding-left: 1rem !important;
}

.pr-1r {
    padding-right: 1rem !important;
}

.pt-1r {
    padding-top: 1rem !important;
}

.pb-1r {
    padding-bottom: 1rem !important;
}

.p-1-2r {
    padding: 1.2rem !important;
}

.pl-1-2r {
    padding-left: 1.2rem !important;
}

.pr-1-2r {
    padding-right: 1.2rem !important;
}

.pt-1-2r {
    padding-top: 1.2rem !important;
}

.pb-1-2r {
    padding-bottom: 1.2rem !important;
}

.p-1-4r {
    padding: 1.4rem !important;
}

.pl-1-4r {
    padding-left: 1.4rem !important;
}

.pr-1-4r {
    padding-right: 1.4rem !important;
}

.pt-1-4r {
    padding-top: 1.4rem !important;
}

.pb-1-4r {
    padding-bottom: 1.4rem !important;
}

.p-1-6r {
    padding: 1.6rem !important;
}

.pl-1-6r {
    padding-left: 1.6rem !important;
}

.pr-1-6r {
    padding-right: 1.6rem !important;
}

.pt-1-6r {
    padding-top: 1.6rem !important;
}

.pb-1-6r {
    padding-bottom: 1.6rem !important;
}

.p-1-8r {
    padding: 1.8rem !important;
}

.pl-1-8r {
    padding-left: 1.8rem !important;
}

.pr-1-8r {
    padding-right: 1.8rem !important;
}

.pt-1-8r {
    padding-top: 1.8rem !important;
}

.pb-1-8r {
    padding-bottom: 1.8rem !important;
}

.p-2r {
    padding: 2rem !important;
}

.pl-2r {
    padding-left: 2rem !important;
}

.pr-2r {
    padding-right: 2rem !important;
}

.pt-2r {
    padding-top: 2rem !important;
}

.pb-2r {
    padding-bottom: 2rem !important;
}

.p-2-2r {
    padding: 2.2rem !important;
}

.pl-2-2r {
    padding-left: 2.2rem !important;
}

.pr-2-2r {
    padding-right: 2.2rem !important;
}

.pt-2-2r {
    padding-top: 2.2rem !important;
}

.pb-2-2r {
    padding-bottom: 2.2rem !important;
}

.p-2-4r {
    padding: 2.4rem !important;
}

.pl-2-4r {
    padding-left: 2.4rem !important;
}

.pr-2-4r {
    padding-right: 2.4rem !important;
}

.pt-2-4r {
    padding-top: 2.4rem !important;
}

.pb-2-4r {
    padding-bottom: 2.4rem !important;
}

.p-2-6r {
    padding: 2.6rem !important;
}

.pl-2-6r {
    padding-left: 2.6rem !important;
}

.pr-2-6r {
    padding-right: 2.6rem !important;
}

.pt-2-6r {
    padding-top: 2.6rem !important;
}

.pb-2-6r {
    padding-bottom: 2.6rem !important;
}

.p-2-8r {
    padding: 2.8rem !important;
}

.pl-2-8r {
    padding-left: 2.8rem !important;
}

.pr-2-8r {
    padding-right: 2.8rem !important;
}

.pt-2-8r {
    padding-top: 2.8rem !important;
}

.pb-2-8r {
    padding-bottom: 2.8rem !important;
}

.p-3r {
    padding: 3rem !important;
}

.pl-3r {
    padding-left: 3rem !important;
}

.pr-3r {
    padding-right: 3rem !important;
}

.pt-3r {
    padding-top: 3rem !important;
}

.pb-3r {
    padding-bottom: 3rem !important;
}

.p-3-2r {
    padding: 3.2rem !important;
}

.pl-3-2r {
    padding-left: 3.2rem !important;
}

.pr-3-2r {
    padding-right: 3.2rem !important;
}

.pt-3-2r {
    padding-top: 3.2rem !important;
}

.pb-3-2r {
    padding-bottom: 3.2rem !important;
}

.p-3-4r {
    padding: 3.4rem !important;
}

.pl-3-4r {
    padding-left: 3.4rem !important;
}

.pr-3-4r {
    padding-right: 3.4rem !important;
}

.pt-3-4r {
    padding-top: 3.4rem !important;
}

.pb-3-4r {
    padding-bottom: 3.4rem !important;
}

.p-3-6r {
    padding: 3.6rem !important;
}

.pl-3-6r {
    padding-left: 3.6rem !important;
}

.pr-3-6r {
    padding-right: 3.6rem !important;
}

.pt-3-6r {
    padding-top: 3.6rem !important;
}

.pb-3-6r {
    padding-bottom: 3.6rem !important;
}

.p-3-8r {
    padding: 3.8rem !important;
}

.pl-3-8r {
    padding-left: 3.8rem !important;
}

.pr-3-8r {
    padding-right: 3.8rem !important;
}

.pt-3-8r {
    padding-top: 3.8rem !important;
}

.pb-3-8r {
    padding-bottom: 3.8rem !important;
}

.p-4r {
    padding: 4rem !important;
}

.pl-4r {
    padding-left: 4rem !important;
}

.pr-4r {
    padding-right: 4rem !important;
}

.pt-4r {
    padding-top: 4rem !important;
}

.pb-4r {
    padding-bottom: 4rem !important;
}

.p-4-2r {
    padding: 4.2rem !important;
}

.pl-4-2r {
    padding-left: 4.2rem !important;
}

.pr-4-2r {
    padding-right: 4.2rem !important;
}

.pt-4-2r {
    padding-top: 4.2rem !important;
}

.pb-4-2r {
    padding-bottom: 4.2rem !important;
}

.p-4-4r {
    padding: 4.4rem !important;
}

.pl-4-4r {
    padding-left: 4.4rem !important;
}

.pr-4-4r {
    padding-right: 4.4rem !important;
}

.pt-4-4r {
    padding-top: 4.4rem !important;
}

.pb-4-4r {
    padding-bottom: 4.4rem !important;
}

.p-4-6r {
    padding: 4.6rem !important;
}

.pl-4-6r {
    padding-left: 4.6rem !important;
}

.pr-4-6r {
    padding-right: 4.6rem !important;
}

.pt-4-6r {
    padding-top: 4.6rem !important;
}

.pb-4-6r {
    padding-bottom: 4.6rem !important;
}

.p-4-8r {
    padding: 4.8rem !important;
}

.pl-4-8r {
    padding-left: 4.8rem !important;
}

.pr-4-8r {
    padding-right: 4.8rem !important;
}

.pt-4-8r {
    padding-top: 4.8rem !important;
}

.pb-4-8r {
    padding-bottom: 4.8rem !important;
}

.p-5r {
    padding: 5rem !important;
}

.pl-5r {
    padding-left: 5rem !important;
}

.pr-5r {
    padding-right: 5rem !important;
}

.pt-5r {
    padding-top: 5rem !important;
}

.pb-5r {
    padding-bottom: 5rem !important;
}

.p-5-2r {
    padding: 5.2rem !important;
}

.pl-5-2r {
    padding-left: 5.2rem !important;
}

.pr-5-2r {
    padding-right: 5.2rem !important;
}

.pt-5-2r {
    padding-top: 5.2rem !important;
}

.pb-5-2r {
    padding-bottom: 5.2rem !important;
}

.p-5-4r {
    padding: 5.4rem !important;
}

.pl-5-4r {
    padding-left: 5.4rem !important;
}

.pr-5-4r {
    padding-right: 5.4rem !important;
}

.pt-5-4r {
    padding-top: 5.4rem !important;
}

.pb-5-4r {
    padding-bottom: 5.4rem !important;
}

.p-5-6r {
    padding: 5.6rem !important;
}

.pl-5-6r {
    padding-left: 5.6rem !important;
}

.pr-5-6r {
    padding-right: 5.6rem !important;
}

.pt-5-6r {
    padding-top: 5.6rem !important;
}

.pb-5-6r {
    padding-bottom: 5.6rem !important;
}

.p-5-8r {
    padding: 5.8rem !important;
}

.pl-5-8r {
    padding-left: 5.8rem !important;
}

.pr-5-8r {
    padding-right: 5.8rem !important;
}

.pt-5-8r {
    padding-top: 5.8rem !important;
}

.pb-5-8r {
    padding-bottom: 5.8rem !important;
}

.p-6r {
    padding: 6rem !important;
}

.pl-6r {
    padding-left: 6rem !important;
}

.pr-6r {
    padding-right: 6rem !important;
}

.pt-6r {
    padding-top: 6rem !important;
}

.pb-6r {
    padding-bottom: 6rem !important;
}

.p-6-2r {
    padding: 6.2rem !important;
}

.pl-6-2r {
    padding-left: 6.2rem !important;
}

.pr-6-2r {
    padding-right: 6.2rem !important;
}

.pt-6-2r {
    padding-top: 6.2rem !important;
}

.pb-6-2r {
    padding-bottom: 6.2rem !important;
}

.p-6-4r {
    padding: 6.4rem !important;
}

.pl-6-4r {
    padding-left: 6.4rem !important;
}

.pr-6-4r {
    padding-right: 6.4rem !important;
}

.pt-6-4r {
    padding-top: 6.4rem !important;
}

.pb-6-4r {
    padding-bottom: 6.4rem !important;
}

.p-6-6r {
    padding: 6.6rem !important;
}

.pl-6-6r {
    padding-left: 6.6rem !important;
}

.pr-6-6r {
    padding-right: 6.6rem !important;
}

.pt-6-6r {
    padding-top: 6.6rem !important;
}

.pb-6-6r {
    padding-bottom: 6.6rem !important;
}

.p-6-8r {
    padding: 6.8rem !important;
}

.pl-6-8r {
    padding-left: 6.8rem !important;
}

.pr-6-8r {
    padding-right: 6.8rem !important;
}

.pt-6-8r {
    padding-top: 6.8rem !important;
}

.pb-6-8r {
    padding-bottom: 6.8rem !important;
}

.p-7r {
    padding: 7rem !important;
}

.pl-7r {
    padding-left: 7rem !important;
}

.pr-7r {
    padding-right: 7rem !important;
}

.pt-7r {
    padding-top: 7rem !important;
}

.pb-7r {
    padding-bottom: 7rem !important;
}

.p-7-2r {
    padding: 7.2rem !important;
}

.pl-7-2r {
    padding-left: 7.2rem !important;
}

.pr-7-2r {
    padding-right: 7.2rem !important;
}

.pt-7-2r {
    padding-top: 7.2rem !important;
}

.pb-7-2r {
    padding-bottom: 7.2rem !important;
}

.p-7-4r {
    padding: 7.4rem !important;
}

.pl-7-4r {
    padding-left: 7.4rem !important;
}

.pr-7-4r {
    padding-right: 7.4rem !important;
}

.pt-7-4r {
    padding-top: 7.4rem !important;
}

.pb-7-4r {
    padding-bottom: 7.4rem !important;
}

.p-7-6r {
    padding: 7.6rem !important;
}

.pl-7-6r {
    padding-left: 7.6rem !important;
}

.pr-7-6r {
    padding-right: 7.6rem !important;
}

.pt-7-6r {
    padding-top: 7.6rem !important;
}

.pb-7-6r {
    padding-bottom: 7.6rem !important;
}

.p-7-8r {
    padding: 7.8rem !important;
}

.pl-7-8r {
    padding-left: 7.8rem !important;
}

.pr-7-8r {
    padding-right: 7.8rem !important;
}

.pt-7-8r {
    padding-top: 7.8rem !important;
}

.pb-7-8r {
    padding-bottom: 7.8rem !important;
}

.p-8r {
    padding: 8rem !important;
}

.pl-8r {
    padding-left: 8rem !important;
}

.pr-8r {
    padding-right: 8rem !important;
}

.pt-8r {
    padding-top: 8rem !important;
}

.pb-8r {
    padding-bottom: 8rem !important;
}

.p-8-2r {
    padding: 8.2rem !important;
}

.pl-8-2r {
    padding-left: 8.2rem !important;
}

.pr-8-2r {
    padding-right: 8.2rem !important;
}

.pt-8-2r {
    padding-top: 8.2rem !important;
}

.pb-8-2r {
    padding-bottom: 8.2rem !important;
}

.p-8-4r {
    padding: 8.4rem !important;
}

.pl-8-4r {
    padding-left: 8.4rem !important;
}

.pr-8-4r {
    padding-right: 8.4rem !important;
}

.pt-8-4r {
    padding-top: 8.4rem !important;
}

.pb-8-4r {
    padding-bottom: 8.4rem !important;
}

.p-8-6r {
    padding: 8.6rem !important;
}

.pl-8-6r {
    padding-left: 8.6rem !important;
}

.pr-8-6r {
    padding-right: 8.6rem !important;
}

.pt-8-6r {
    padding-top: 8.6rem !important;
}

.pb-8-6r {
    padding-bottom: 8.6rem !important;
}

.p-8-8r {
    padding: 8.8rem !important;
}

.pl-8-8r {
    padding-left: 8.8rem !important;
}

.pr-8-8r {
    padding-right: 8.8rem !important;
}

.pt-8-8r {
    padding-top: 8.8rem !important;
}

.pb-8-8r {
    padding-bottom: 8.8rem !important;
}

.p-9r {
    padding: 9rem !important;
}

.pl-9r {
    padding-left: 9rem !important;
}

.pr-9r {
    padding-right: 9rem !important;
}

.pt-9r {
    padding-top: 9rem !important;
}

.pb-9r {
    padding-bottom: 9rem !important;
}

.p-9-2r {
    padding: 9.2rem !important;
}

.pl-9-2r {
    padding-left: 9.2rem !important;
}

.pr-9-2r {
    padding-right: 9.2rem !important;
}

.pt-9-2r {
    padding-top: 9.2rem !important;
}

.pb-9-2r {
    padding-bottom: 9.2rem !important;
}

.p-9-4r {
    padding: 9.4rem !important;
}

.pl-9-4r {
    padding-left: 9.4rem !important;
}

.pr-9-4r {
    padding-right: 9.4rem !important;
}

.pt-9-4r {
    padding-top: 9.4rem !important;
}

.pb-9-4r {
    padding-bottom: 9.4rem !important;
}

.p-9-6r {
    padding: 9.6rem !important;
}

.pl-9-6r {
    padding-left: 9.6rem !important;
}

.pr-9-6r {
    padding-right: 9.6rem !important;
}

.pt-9-6r {
    padding-top: 9.6rem !important;
}

.pb-9-6r {
    padding-bottom: 9.6rem !important;
}

.p-9-8r {
    padding: 9.8rem !important;
}

.pl-9-8r {
    padding-left: 9.8rem !important;
}

.pr-9-8r {
    padding-right: 9.8rem !important;
}

.pt-9-8r {
    padding-top: 9.8rem !important;
}

.pb-9-8r {
    padding-bottom: 9.8rem !important;
}

.p-10r {
    padding: 10rem !important;
}

.pl-10r {
    padding-left: 10rem !important;
}

.pr-10r {
    padding-right: 10rem !important;
}

.pt-10r {
    padding-top: 10rem !important;
}

.pb-10r {
    padding-bottom: 10rem !important;
}