:root {
    --material-blue-grey-50: #ECEFF1;
    --material-blue-grey-100: #CFD8DC;
    --material-blue-grey-200: #B0BEC5;
    --material-blue-grey-300: #90A4AE;
    --material-blue-grey-400: #78909C;
    --material-blue-grey-500: #607D8B;
    --material-blue-grey-600: #546E7A;
    --material-blue-grey-700: #455A64;
    --material-blue-grey-800: #37474F;
    --material-blue-grey-900: #263238;
}

.color-blue-grey-50,
.color-blue-grey-50 * {
    color: var(--material-blue-grey-50) !important;
}

.color-blue-grey-100,
.color-blue-grey-100 * {
    color: var(--material-blue-grey-100) !important;
}

.color-blue-grey-200,
.color-blue-grey-200 * {
    color: var(--material-blue-grey-200) !important;
}

.color-blue-grey-300,
.color-blue-grey-300 * {
    color: var(--material-blue-grey-300) !important;
}

.color-blue-grey-400,
.color-blue-grey-400 * {
    color: var(--material-blue-grey-400) !important;
}

.color-blue-grey-500,
.color-blue-grey-500 * {
    color: var(--material-blue-grey-500) !important;
}

.color-blue-grey-600,
.color-blue-grey-600 * {
    color: var(--material-blue-grey-600) !important;
}

.color-blue-grey-700,
.color-blue-grey-700 * {
    color: var(--material-blue-grey-700) !important;
}

.color-blue-grey-800,
.color-blue-grey-800 * {
    color: var(--material-blue-grey-800) !important;
}

.color-blue-grey-900,
.color-blue-grey-900 * {
    color: var(--material-blue-grey-900) !important;
}

.hover-color-blue-grey-50:hover,
.hover-color-blue-grey-50:hover * {
    color: var(--material-blue-grey-50) !important;
}

.hover-color-blue-grey-100:hover,
.hover-color-blue-grey-100:hover * {
    color: var(--material-blue-grey-100) !important;
}

.hover-color-blue-grey-200:hover,
.hover-color-blue-grey-200:hover * {
    color: var(--material-blue-grey-200) !important;
}

.hover-color-blue-grey-300:hover,
.hover-color-blue-grey-300:hover * {
    color: var(--material-blue-grey-300) !important;
}

.hover-color-blue-grey-400:hover,
.hover-color-blue-grey-400:hover * {
    color: var(--material-blue-grey-400) !important;
}

.hover-color-blue-grey-500:hover,
.hover-color-blue-grey-500:hover * {
    color: var(--material-blue-grey-500) !important;
}

.hover-color-blue-grey-600:hover,
.hover-color-blue-grey-600:hover * {
    color: var(--material-blue-grey-600) !important;
}

.hover-color-blue-grey-700:hover,
.hover-color-blue-grey-700:hover * {
    color: var(--material-blue-grey-700) !important;
}

.hover-color-blue-grey-800:hover,
.hover-color-blue-grey-800:hover * {
    color: var(--material-blue-grey-800) !important;
}

.hover-color-blue-grey-900:hover,
.hover-color-blue-grey-900:hover * {
    color: var(--material-blue-grey-900) !important;
}

.bg-blue-grey-50 {
    background-color: var(--material-blue-grey-50) !important;
}

.bg-blue-grey-100 {
    background-color: var(--material-blue-grey-100) !important;
}

.bg-blue-grey-200 {
    background-color: var(--material-blue-grey-200) !important;
}

.bg-blue-grey-300 {
    background-color: var(--material-blue-grey-300) !important;
}

.bg-blue-grey-400 {
    background-color: var(--material-blue-grey-400) !important;
}

.bg-blue-grey-500 {
    background-color: var(--material-blue-grey-500) !important;
}

.bg-blue-grey-600 {
    background-color: var(--material-blue-grey-600) !important;
}

.bg-blue-grey-700 {
    background-color: var(--material-blue-grey-700) !important;
}

.bg-blue-grey-800 {
    background-color: var(--material-blue-grey-800) !important;
}

.bg-blue-grey-900 {
    background-color: var(--material-blue-grey-900) !important;
}

.hover-bg-blue-grey-50:hover {
    background-color: var(--material-blue-grey-50) !important;
}

.hover-bg-blue-grey-100:hover {
    background-color: var(--material-blue-grey-100) !important;
}

.hover-bg-blue-grey-200:hover {
    background-color: var(--material-blue-grey-200) !important;
}

.hover-bg-blue-grey-300:hover {
    background-color: var(--material-blue-grey-300) !important;
}

.hover-bg-blue-grey-400:hover {
    background-color: var(--material-blue-grey-400) !important;
}

.hover-bg-blue-grey-500:hover {
    background-color: var(--material-blue-grey-500) !important;
}

.hover-bg-blue-grey-600:hover {
    background-color: var(--material-blue-grey-600) !important;
}

.hover-bg-blue-grey-700:hover {
    background-color: var(--material-blue-grey-700) !important;
}

.hover-bg-blue-grey-800:hover {
    background-color: var(--material-blue-grey-800) !important;
}

.hover-bg-blue-grey-900:hover {
    background-color: var(--material-blue-grey-900) !important;
}

.border-blue-grey-50 {
    border-color: var(--material-blue-grey-50) !important;
}

.border-blue-grey-100 {
    border-color: var(--material-blue-grey-100) !important;
}

.border-blue-grey-200 {
    border-color: var(--material-blue-grey-200) !important;
}

.border-blue-grey-300 {
    border-color: var(--material-blue-grey-300) !important;
}

.border-blue-grey-400 {
    border-color: var(--material-blue-grey-400) !important;
}

.border-blue-grey-500 {
    border-color: var(--material-blue-grey-500) !important;
}

.border-blue-grey-600 {
    border-color: var(--material-blue-grey-600) !important;
}

.border-blue-grey-700 {
    border-color: var(--material-blue-grey-700) !important;
}

.border-blue-grey-800 {
    border-color: var(--material-blue-grey-800) !important;
}

.border-blue-grey-900 {
    border-color: var(--material-blue-grey-900) !important;
}

.hover-border-blue-grey-50:hover {
    border-color: var(--material-blue-grey-50) !important;
}

.hover-border-blue-grey-100:hover {
    border-color: var(--material-blue-grey-100) !important;
}

.hover-border-blue-grey-200:hover {
    border-color: var(--material-blue-grey-200) !important;
}

.hover-border-blue-grey-300:hover {
    border-color: var(--material-blue-grey-300) !important;
}

.hover-border-blue-grey-400:hover {
    border-color: var(--material-blue-grey-400) !important;
}

.hover-border-blue-grey-500:hover {
    border-color: var(--material-blue-grey-500) !important;
}

.hover-border-blue-grey-600:hover {
    border-color: var(--material-blue-grey-600) !important;
}

.hover-border-blue-grey-700:hover {
    border-color: var(--material-blue-grey-700) !important;
}

.hover-border-blue-grey-800:hover {
    border-color: var(--material-blue-grey-800) !important;
}

.hover-border-blue-grey-900:hover {
    border-color: var(--material-blue-grey-900) !important;
}