.patient-note-list-item {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 6px 12px;
}

.patient-note-list-item:not(:last-child) {
    border-bottom: 1px solid var(--material-grey-200);
}

.patient-note-date {
    font-size: 11px;
    color: var(--material-grey-500);
    min-width: 92px;
}