@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

<HcCard Title="Özgeçmiş" CardIcon="">
    <ChildContent>
        <div class="d-flex flex-column gap-2 p-2">
            <div class="d-flex gap-1 align-items-center">
                <span class="fs-12p">Alışkanlık</span>
                <div class="input-group flex-nowrap">
                    <SfButtonGroup Mode="SelectionMode.Multiple">
                        <ButtonGroupButton IsPrimary>Yok</ButtonGroupButton>
                        <ButtonGroupButton IsPrimary>Alkol</ButtonGroupButton>
                        <ButtonGroupButton IsPrimary>Sigara</ButtonGroupButton>
                        <ButtonGroupButton IsPrimary>Madde</ButtonGroupButton>
                    </SfButtonGroup>
                    <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                </div>
            </div>
            <div class="d-flex gap-1 align-items-center">
                <span class="fs-12p">Hastalık</span>
                <div class="input-group flex-nowrap">
                    <SfTextBox Placeholder="Hastalık" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                    <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                    <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                </div>
            </div>
            <div class="d-flex gap-2">
                <div class="d-flex gap-2 flex-column w-50">
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="İlaç" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Ameliyat" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Aşı" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Kan Transfüzyon" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                </div>
                <div class="d-flex gap-2 flex-column w-50">
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Alerji" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Özel Durumlar" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Cihaz" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                    <div class="input-group flex-nowrap">
                        <SfTextBox Placeholder="Terapi" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IsToggle CssClass="e-primary e-outline">Yok</SfButton>
                        <SfTextBox Placeholder="Açıklama" FloatLabelType="FloatLabelType.Never"></SfTextBox>
                        <SfButton IconCss="fas fa-plus" CssClass="e-success"></SfButton>
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</HcCard>