@using Syncfusion.Blazor.Buttons

<div class="patient-detail-card">
    <div class="patient-detail-card-header">
       <span class="patient-detail-card-icon">
            <SfIcon IconCss="@TitleIcon"/>
        </span>
        <div class="patient-detail-card-header-content">
            <span class="patient-detail-card-title">@Title</span>
            @if (NoContent)
            {
                <span class="patient-detail-card-nocontent-text">Kayıt bulunamadı</span>
            }
        </div>
    </div>
    <div class="patient-detail-card-body">
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = null!;
    [Parameter] public string TitleIcon { get; set; } = null!;
    [Parameter] public bool NoContent { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}