.item-status {
    padding: 1px 8px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

.item-status[progress="InProgress"] {
    background-color: var(--material-blue-100);
    color: var(--material-blue-500);
}

.item-status[progress="Completed"] {
    background-color: var(--material-green-100);
    color: var(--material-green-500);
}

    .item-status[progress="Pending"] {
        background-color: var(--material-red-100);
        color: var(--material-red-500);
    }

.item-status[progress="Cancelled"] {
    background-color: var(--material-orange-100);
    color: var(--material-orange-500);
}
